.ant-menu-light .ant-menu-item-active,
.ant-menu-light .ant-menu-item:hover,
.ant-menu-light .ant-menu-submenu-active,
.ant-menu-light .ant-menu-submenu-title:hover,
.ant-menu-item-selected,
.ant-menu-item-selected a,
.ant-menu-item-selected a:hover,
.ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open {
  color: #009688 !important;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #ffffff !important;
}
.ant-menu-inline .ant-menu-item:after {
  border-right: none !important;
}
.ant-menu > .ant-menu-inline .ant-menu-item:after,
.ant-menu > .ant-menu-vertical-left .ant-menu-item:after,
.ant-menu > .ant-menu-vertical-right .ant-menu-item:after,
.ant-menu > .ant-menu-vertical .ant-menu-item:after {
  border-right: 3px solid #ffffff;
}

@media screen and (max-width: 360px) {
  h4,
  h5 {
    font-size: calc(13px + 1vw) !important;
  }
}
h4,
h5 {
  color: #37474f !important;
}

.ant-upload.ant-upload-drag {
  height: 200px !important;
}
.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
  color: #fff;
  background: #ffffff !important;
}

.ant-tooltip {
  display: none !important;
}

input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #37474f;
}
input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #37474f;
}
input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #37474f;
}
input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #37474f;
}
