@media screen and (max-width: 360px) {
  h4,
  h5 {
    font-size: calc(14px + 1vw) !important;
  }
  .caret-icon,
  .bars-icon {
    font-size: calc(12px + 1vw) !important;
  }
  .baton-title-div {
    padding-top: 3px;
  }
}

body {
  margin: 0;
  font-family: "Heebo", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: "Heebo", sans-serif;
}

h5,
h4 {
  font-family: "Heebo", sans-serif;
}

.ant-menu-light .ant-menu-item-active,
.ant-menu-light .ant-menu-item:hover,
.ant-menu-light .ant-menu-submenu-active,
.ant-menu-light .ant-menu-submenu-title:hover,
.ant-menu-item-selected,
.ant-menu-item-selected a,
.ant-menu-item-selected a:hover,
.ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open {
  color: #009688 !important;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #ffffff !important;
}
.ant-menu-inline .ant-menu-item:after {
  border-right: none !important;
}

.ant-menu > .ant-menu-inline .ant-menu-item:after,
.ant-menu > .ant-menu-vertical-left .ant-menu-item:after,
.ant-menu > .ant-menu-vertical-right .ant-menu-item:after,
.ant-menu > .ant-menu-vertical .ant-menu-item:after {
  border-right: 3px solid #ffffff;
}

h4,
h5 {
  color: #37474f !important;
}

.ant-upload.ant-upload-drag {
  height: 200px !important;
}
.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
  color: #fff;
  background: #009688 !important;
}

.ant-tooltip {
  display: none !important;
}

.normal-input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: white;
}
.normal-input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: white;
}
.normal-input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: white;
}
.normal-input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: white;
}
.normal-input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: black !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  /* transition: background-color 5000s ease-in-out 0s; */
}
.normal- input:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: black !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  /* transition: background-color 5000s ease-in-out 0s; */
}

.ant-badge {
  color: #009688 !important;
}

input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #37474f;
}
input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #37474f;
}
input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #37474f;
}
input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #37474f;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #161c1f inset;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #161c1f inset;
  /* transition: background-color 5000s ease-in-out 0s; */
}

input:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px #161c1f inset;
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px #161c1f inset;
  /* transition: background-color 5000s ease-in-out 0s; */
}

.ant-menu {
  font-family: "Heebo", sans-serif;
}

.list-sort-demo-list.list-drag-selected {
  box-shadow: 0 8px 20px #e6e6e6;
}
.list-sort-demo-wrapper {
  position: relative;
  overflow: hidden;
}

.input-placeholder::-webkit-input-placeholder {
  /* WebKit browsers */
  color: black !important;
}
.input-placeholder:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: black !important;
}
.input-placeholder::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: black !important;
}
.input-placeholder:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: black !important;
}

.ant-input[disabled] {
  color: black !important;
  background-color: transparent !important;
}
